* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fae894;
}

nav.topbar {
  background-color: #2e2d2b;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav > div > a > img {
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

nav > div > a {
  color: #fae894;
  text-decoration: none;
  align-items: center;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: x-large;
  padding-left: 20px;
}

.menu-div {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.menu-button {
  background-color: #2e2d2b;
  color: #fae894;
  font-size: x-large;
  padding-top: 15%;
  padding-right: 50px;
}

.menu-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  background-color: #2e2d2b;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.menu-content a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.menu-div:hover .menu-content {
  display: block;
}

.menu-content a:hover {
  background-color: #191919;
  color: #fae894;
}

.main_image {
  width: 100%;
}

div#text1 {
  background-image: linear-gradient(to bottom, #fae894, #445f8c);
  color: #2e2d2b;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_box {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 60%;
}

.main_head {
  margin-bottom: 10px;
  font-size: xxx-large;
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  text-shadow: 2px, 2px, 5px #000000;
}

div#text1 > div > p {
  margin-bottom: 10px;
  font-size: x-large;
  font-family: American Typewriter, serif;
}

table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 8px;
  text-align: center;
  font-size: x-large;
  font-family: American Typewriter, serif;
}

td > a {
  color: #2e2d2b;
}

div#tale {
  background-image: linear-gradient(to bottom, #445f8c, #222d5a);
  display: flex;
}

div#tale > div {
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 30px;
}

.tale_link > img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.4s, box-shadow 0.4s;
}
.tale_link > img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}
